@charset "utf-8";
/* CSS Document */
/*icon-bank-35px*/
.icon-bbl-35px{
	width:114px; height:35px;
	background:url(114x35/bbl-wide.png) top left no-repeat;
}
.icon-cimb-35px{
	width:114px; height:35px;
	background:url(114x35/cimb-wide.png) top left no-repeat;
}
.icon-ctb-35px{
	width:114px; height:35px;
	background:url(114x35/ctb-wide.png) top left no-repeat;
}
.icon-gh-35px{
	width:114px; height:35px;
	background:url(114x35/ghbank-wide.png) top left no-repeat;
}
.icon-gsb-35px{
	width:114px; height:35px;
	background:url(114x35/gsb-wide.png) top left no-repeat;
}
.icon-hsbc-35px{
	width:114px; height:35px;
	background:url(114x35/hsbc_wide.png) top left no-repeat;
}
.icon-ibank-35px{
	width:114px; height:35px;
	background:url(114x35/ibank_wide.png) top left no-repeat;
}
.icon-kbank-35px{
	width:114px; height:35px;
	background:url(114x35/kbank-wide.png) top left no-repeat;
}
.icon-kkp-35px{
	width:114px; height:35px;
	background:url(114x35/kkp-wide.png) top left no-repeat;
}
.icon-bay-35px{
	width:114px; height:35px;
	background:url(114x35/krungsri_wide.png) top left no-repeat;
}
.icon-ktb-35px{
	width:114px; height:35px;
	background:url(114x35/ktb_wide.png) top left no-repeat;
}
.icon-scb-35px{
	width:114px; height:35px;
	background:url(114x35/scb_wide.png) top left no-repeat;
}
.icon-scbt-35px{
	width:114px; height:35px;
	background:url(114x35/scbt_wide.png) top left no-repeat;
}
.icon-tbank-35px{
	width:114px; height:35px;
	background:url(114x35/thanachart_wide.png) top left no-repeat;
}
.icon-tisco-35px{
	width:114px; height:35px;
	background:url(114x35/tiscobank-wide.png) top left no-repeat;
}

.icon-tmb-35px{
	width:114px; height:35px;
	background:url(114x35/tmb_wide.png) top left no-repeat;
}
.icon-uob-35px{
	width:114px; height:35px;
	background:url(114x35/uob-wide.png) top left no-repeat;
}
/*icon-bank-16px*/
.icon-bay-16px{
	width:16px; height:16px; background:url(16x16/icon-bay.png) top left no-repeat;	
}
.icon-bbl-16px{
	width:16px; height:16px; background:url(16x16/icon-bbl.gif) top left no-repeat;	
}
.icon-cimb-16px{
	width:16px; height:16px; background:url(16x16/icon-cimb.png) top left no-repeat;	
}
.icon-ctb-16px{
	width:64px; height:16px; background:url(16x16/icon-ctb.png) top left no-repeat;	
}
.icon-gh-16px{
	width:16px; height:16px; background:url(16x16/icon-ghbank.png) top left no-repeat;	
}
.icon-gsb-16px{
	width:16px; height:16px; background:url(16x16/icon-gsb.png) top left no-repeat;	
}
.icon-hsbc-16px{
	width:63px; height:16px; background:url(16x16/icon-hsbc.png) top left no-repeat;	
}
.icon-ibank-16px{
	width:16px; height:16px; background:url(16x16/icon-hsbc.png) top left no-repeat;	
}
.icon-kbank-16px{
	width:16px; height:16px; background:url(16x16/icon-kbank.png) top left no-repeat;	
}
.icon-kkp-16px{
	width:16px; height:16px; background:url(16x16/icon-kkp.png) top left no-repeat;	
}
.icon-ktb-16px{
	width:16px; height:16px; background:url(16x16/icon-ktb.png) top left no-repeat;	
}
.icon-scb-16px{
	width:16px; height:16px; background:url(16x16/icon-scb.png) top left no-repeat;	
}
.icon-scbt-16px{
	width:16px; height:16px; background:url(16x16/icon-scbt.png) top left no-repeat;	
}
.icon-scib-16px{
	width:16px; height:16px; background:url(16x16/icon-scib.png) top left no-repeat;	
}
.icon-tbank-16px{
	width:23px; height:16px; background:url(16x16/icon-tbank.png) top left no-repeat;	
}
.icon-tmb-16px{
	width:32px; height:16px; background:url(16x16/icon-tmb.png) top left no-repeat;	
}
.icon-uob-16px{
	width:36px; height:16px; background:url(16x16/icon-uob.png) top left no-repeat;	
}






